.product_container {
    margin: 1%;
    padding: 1%;
    border: solid 3px black;
    border-radius: 3%;
    display: inline-block;
    width: 200px;
    height: 230px;
    background-color: #e8e8e8;
    text-align: center;
}

.product_imgContainer {
    text-align: center;
    width: 98%;
    height: 40%;
    border: solid 2px black;
    background-color: white;
}

.product_imgContainer > img {
    height: 90%;
}

.product_details {
    text-align: left;
}

.addToCart {
    float: right;
    margin: 1%;
}

button {
    float: right;
}

button:hover {
    transform: scale(1.1);
}