<div class="product_container">
    {{ productData.productName }} <br/>

    <div class="product_imgContainer">
        <img src="{{ productData.imgUrl }}" 
             alt="{{ productData.productName }}"
        >
    </div><br/>

    <div class="product_details">
        <span class="product_firm">By: {{ productData.firm }}</span><br/>
        <span class="product_category">Category: {{ productData.category }}</span><br/>
        <span class="product_price">Price: {{ productData.price }}.00$</span>
    </div>

    <!--If isAdded is false, the button will be displayed-->
    <button *ngIf="!isAdded" 
            (click)="addToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>

    <!--Else is isAdded is true, this icon will be displayed instead of the button-->
    <span class="product_added">
        <mat-icon *ngIf="isAdded">check_circle</mat-icon>
    </span>
</div>